:root {
    --primaryFont: "Poppins", sans-serif;
    --secFont: "Montserrat", sans-serif;
    --whiteColor: #fff;
    --darkBlackColor: #000;
    --lightBlackColor: #111;
    --grayishColor: #555;
    --blueColor: #4584ef;
    --lightGrayishColor: #5f6368;
    --orangeColor: #f0932b;
    --redColor: #ff3838;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section header {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
section header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
section header ul li {
    margin-left: 20px;
}
section header ul li a {
    color: var(--lightBlackColor);
    font-family: var(--primaryFont);
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 0.5px;
    font-size: 14px;
}
section header ul li button {
    background: var(--blueColor);
    color: var(--whiteColor);
    padding: 10px 16px;
    font-family: var(--secFont);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.5px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
}
section header ul li a:hover {
    text-decoration: underline;
    transition: 0.3s;
}
section header ul li button:hover {
    background: #0750ce;
    transition: 0.3s;
}
section .main {
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .main .searchBox {
    position: relative;
    width: 100%;
    margin-top: 20px;
}
section .main .searchBox .search {
    width: 100%;
    padding: 13px;
    padding-left: 45px;
    padding-right: 60px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    font-family: var(--primaryFont);    
}
section .main .searchBox .icons {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    pointer-events: none;
}
section .main .buttons {
    margin-top: 25px;
}
section .main .buttons button {
    color: var(--grayishColor);
    padding: 12px 20px;
    margin: 0 5px;
    font-family: var(--secFont);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
section .main .buttons button:hover {
    border: 1px solid #ccc;
}
section .main .lang {
    margin-top: 30px;
    font-family: var(--primaryFont);
}
section .main .lang a {
    letter-spacing: 0.5px;
    font-size: 17px;
    color: var(--blueColor);
}
section .main .lang a:hover {
    text-decoration: underline;
}
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #f2f2f2;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
footer .country {
    padding: 15px 20px;
}
footer .country span {
    margin: 0 30px;
    font-family: var(--secFont);
    font-weight: 400;
    letter-spacing: 0.5px;
}
footer .rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
}
footer .rows ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
}
footer .rows li {
    margin-left: 25px;
}
footer .rows li a {
    color: var(--lightGrayishColor);
    font-family: var(--primaryFont);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    
}
footer .rows li a:hover {
    text-decoration: underline;
}


/* Responsive part */


/* Mobile */
@media (max-width: 768px) {
    section .main .searchBox .search {
        width: 95%;  
    }
    section .main .searchBox .icons {
        width: 95%;  
    }
    section header ul li button {
        background: var(--redColor);
    }  
    footer .rows ul {
        display: block;
    }
    footer .rows ul li {
        margin: 10px;
    }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    section header ul li button {
        background: var(--orangeColor);
    }  
    footer .rows ul {
        padding: 12px 18px;
    }
    footer .rows ul li {
        margin-left: 20px;
    }
}